<IfModule mod_rewrite.c>

<IfModule mod_negotiation.c>
    #Options -MultiViews - only for views and models/MVC or CMS#
    Options -Indexes
</IfModule>

RewriteEngine On
RewriteBase /
RewriteRule ^Database/.* / [L,NC]

<Files config.php>
    Order deny,allow
    Deny from all
</Files>
</IfModule>